@charset "utf-8";
.tfk,.dd,nav{
	margin:0;
	padding:0;
}

/*****header-top********/
body{
	background:url(图片/bg.png);
	min-width:902px;
}
.shouh{
	
	height:45px;
	background-color:#000;
	color:#ffffff;
}
.lxfs{
	width:900px;
	margin:0 auto;
	
}
div span{
	color:#2e8b57;
}
.tfk{
	float:right;
	
	line-height:45px; 
}
nav li{
	list-style:none;
	float:left;
}
.dd{
	float:left;
}
/******nav导航部分******/
nav{
	height:65px;
	width:900px;
	margin:0 auto;
	
}
nav ul li{
	width:108px;
}
nav ul{
	position:relative;
	right:-239px;

}
/****清除浮动*****/
.clearfix:after {
	content:"";
	height:0;
	visibility:hidden;
	display:block;
	clear:both;
}
.ss{
	width:100%;
	height:190px;
	background-image:url(图片/banner.jpg);
}
/******main********/
main div{
	width:900px;
	margin: 0 auto;

}
main li{
	float:left;
	padding:2px;
	list-style:none;
}
li{list-style: none;}
/******footer*******/

footer{
	background-color:#333333;
	height:290px;}
	

.ff{
	width:900px;
	height:280px;
	padding:45px 5px;
	margin:0 auto;
	
}

.dd{
	width:100%;
	height:306px;
}
.float{
	float:left;
	width:220px;

}
.zhusi{
	width:100%;
	height:56px;
	margin:0 auto;
}
